name: Upload Pending Requests

on:
  schedule:
    - cron: "0 * * * *"   # كل ساعة
  workflow_dispatch:

permissions:
  contents: write

jobs:
  process:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install requests

      - name: Run upload script
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: |
          python upload.py

      - name: Commit changes
        run: |
          git config user.name "bot"
          git config user.email "bot@example.com"
          git add .
          git commit -m "Auto upload" || echo "No changes"
          git push
